.git/
.github/
.pytest_cache/
.ruff_cache/
.venv/
__pycache__/
*.pyc
*.egg-info/
.DS_Store
data/raw/*.csv
data/processed/*.csv
data/processed/*.sqlite
data/processed/dashboard_exports/*.csv
dashboard/*.pbix
dashboard/*.twbx
