.venv/
__pycache__/
.pytest_cache/
.DS_Store
*.egg-info/
src/*.egg-info/
*.pyc
*.db
*.sqlite
*.sqlite3
data/raw/*.csv
data/processed/*.csv
data/processed/dashboard_exports/*.csv
dashboard/*.pbix
dashboard/*.twbx
